{block content}
    <div class="list-content">
        <div class="list-header">
            <h2>Upravit uživatele</h2>
            <a class="button-edit" type="edit" n:href="User:list">zpět</a>
        </div>
        <hr>
        <div>
            {control createForm}
        </div>
    </div>
{/block}