{block content}
    <div class="list-content">
        <div class="list-header">
            <h1 n:block=title style="text-align:center">Byli jste odhlášeni !</h1>
        </div>
        <hr>
        <div>
            <p style="text-align:center"><a n:href="in">Přihlaste se k jinému účtu</a></p>
        </div>
    </div>
{/block}
