@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.gradient {
    height: 20px;
    width: 100%;
    background-image: linear-gradien(#087F8C, white);
}

.main {
   margin: auto;
}

li a {
    display: block;
    text-align: center;
    padding: 20px 20px;
    font-size: large;
    color: white;
}

li a:active {
    color: red;
}

li a:hover {
    color: white;
}

.navigation ul {
    display: flex; 
    align-items: center;
    flex-direction: row;
    list-style: none;
    background-color: #087F8C;
}

.navigation img {
    filter: invert(black);
}